body {
    margin: 0;
    height: 100vh;
}


.game-button {
    border : 2px solid black;
    width : 10em;
    height : 5em;

    font-size: 20px;
    color: black;

    position: relative;
    transition: top 0.75s, left 0.75s;
}