body {
    height: 100vh;
}

#content {
    display: grid;
    height: 100%;
    grid-template-rows: 100px 1fr 100px;
}

#content header {
    border-bottom: 1px solid black;
}

#content footer {
    border-top: 1px solid black;
}